Package: qemugui
Version: 4.0
Section: utils
Priority: optional
Architecture: amd64
Maintainer: Shadowsmall
Depends: python3, python3-pyqt6, qemu-system-x86, qemu-utils, ovmf, qemu-system-gui
Description: Interface graphique QEMU avec correction souris et VRAM.
